FLASK_APP=main file name
FLASK_ENV=development
DATABASE_URL=postgresql://user:admin@localhost:5432/database_name
FLASK_DEBUG=False

# Network Binding
PORT=port
HOST=ip_address

Example: for database.ini
[postgresql]
host=db
database=database_name
user=user
password=user_password
port=5432
if_exists=do_nothing
auto_migrate=true