<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body bgcolor="lightgray">
    <h1 align="center">Welcome to Home Page</h1>

    <nav>
        <a href="/v1/api/students/">View Students API</a> <span style="margin: 0 10px;">|</span>
        <a href="/v1/api/healthcheck/">View Health Check API</a> <span style="margin: 0 10px;">|</span>
        <a href="/list">View Student List</a>
    </nav>
</body>
</html>